﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Lugx Gaming Shop HTML5 Template</title>

    <!-- Bootstrap core CSS -->

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />



    <!-- Additional CSS Files -->
    
    <link rel="stylesheet" href="~/lib/css/fontawesome.css">
    <link rel="stylesheet" href="~/lib/css/templatemo-lugx-gaming.css">
    <link rel="stylesheet" href="~/lib/css/owl.css">
    <link rel="stylesheet" href="~/lib/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <!--

    TemplateMo 589 lugx gaming


    -->
</head>

<body>
    @using Gaming.Application.Common.Interfaces;
    @using Gaming.Domain.Identity;
    @using Microsoft.AspNetCore.Identity;
    @inject ICurrentUser _currentUser
    @inject UserManager<User> _usermanager
    @{
        var CurrentUser =await _usermanager.FindByIdAsync(_currentUser.UserId);
    }
   
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a asp-action="Index" asp-controller="Home" class="logo">
                            <img src="~/images/logo.png" alt="" style="width: 158px;">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                            <li><a asp-action="OurShop" asp-controller="Home">Our Shop</a></li>
                            
                            <li><a asp-action="Contact" asp-controller="Home">Contact Us</a></li>
                            @{

                                if (!User.Identity?.IsAuthenticated??false || CurrentUser?.Id == null)
                                {
                                    <li><a asp-area="Identity" asp-page="/Account/Login">Sign In</a></li>

                                }
                                else
                                {

                                    <li>
                                        <a asp-area="Identity" asp-page="/Account/Manage/Index" class=" d-flex justify-content-evenly">
                                            My profile
                                            <img class="styleofProfilePicture" src="@CurrentUser?.ProfilePicture" />
                                        </a>
                                    </li>
                                    <li><a asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
                                   
                                   
                                }
        
                            }
                             
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    @RenderBody()
    <footer>
        <div class="container">
            <div class="col-lg-12">
                <p>Copyright © 2048 LUGX Gaming Company. All rights reserved. &nbsp;&nbsp; <a rel="nofollow" href="https://templatemo.com" target="_blank">Design: TemplateMo</a></p>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->


    <style>
        .styleofProfilePicture {
            margin-left:5px;
            border:2px solid #fff;
            border-radius: 50%;
            width:45px;
            height:40px;
            cursor:pointer;
            
            
        }

        .styleofProfilePicture:hover{
            opacity:0.5;
           
        }
        
    </style>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/isotope.min.js"></script>
    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/counter.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
