@{
}
@model Gaming.MVC.Models.ContactSended

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Contact Us</h3>
                <span class="breadcrumb"><a asp-action="Index" asp-controller="Home">Home</a>  >  Contact Us</span>
            </div>
        </div>
    </div>
</div>

<div class="contact-page section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="left-text">
                    <div class="section-heading">
                        <h6>Contact Us</h6>
                        <h2>Say Hello!</h2>
                    </div>
                    <p>LUGX Gaming Template is based on the latest Bootstrap 5 CSS framework. This template is provided by TemplateMo and it is suitable for your gaming shop ecommerce websites. Feel free to use this for any purpose. Thank you.</p>
                    <ul>
                        <li><span>Address</span> Sunny Isles Beach, FL 33160, United States</li>
                        <li><span>Phone</span> +123 456 7890</li>
                        <li><span>Email</span> lugx@contact.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12469.776493332698!2d-80.14036379941481!3d25.907788681148624!2m3!1f357.26927939317244!2f20.870722720054623!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x88d9add4b4ac788f%3A0xe77469d09480fcdb!2sSunny%20Isles%20Beach!5e1!3m2!1sen!2sth!4v1642869952544!5m2!1sen!2sth" width="100%" height="325px" frameborder="0" style="border:0; border-radius: 23px;" allowfullscreen=""></iframe>
                            </div>
                        </div>
                        @if ( Model!=null)
                        {
                            <div class="alert alert-success" id="success-alert">
                                <button type="button" class="close" data-bs-dismiss="alert">x</button>
                                <strong>Success! </strong> Product have added to your wishlist.
                            </div>
                            
                        }
                       
                        <div class="col-lg-12">
                            <form asp-action="Post" enctype="multipart/form-data" asp-controller="Bot">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">

                                    <div class="col-lg-6">
                                        <fieldset>
                                            <input asp-for="ContactUs.Name" placeholder="Your Name...">
                                            <span asp-validation-for="ContactUs.Name" class="text-danger"></span>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-6">
                                        <fieldset>
                                            <input asp-for="ContactUs.Surname" placeholder="Your Surname..." required>
                                            <span asp-validation-for="ContactUs.Surname" class="text-danger"></span>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-6">
                                        <fieldset>
                                            <input asp-for="ContactUs.Email" placeholder="Your E-mail..." >
                                            <span asp-validation-for="ContactUs.Email" class="text-danger"></span>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-6">
                                        <fieldset>
                                            <input asp-for="ContactUs.Subject" placeholder="Subject...">
                                            <span asp-validation-for="ContactUs.Subject" class="text-danger"></span>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea asp-for="ContactUs.Message" placeholder="Your Message"></textarea>
                                            <span asp-validation-for="ContactUs.Message" class="text-danger"></span>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="orange-button">Send Message Now</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  