
@{
    Layout = "_CustomLayout";
}


<div class="align-self-center">
    <form action="/Admin/Login" class="text-white" method="post">
        <div class="col g-3 align-items-center">
            <div class="mb-3 w-25">
                <label for="AdminName" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="AdminName">
            </div>
            <div class="mb-3 w-25">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>

<style>
    body {
        background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
    }
</style>